<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Article">
    <id column="article_id" jdbcType="INTEGER" property="articleId" />
    <result column="person_id" jdbcType="INTEGER" property="personId" />
    <result column="article_title" jdbcType="VARCHAR" property="articleTitle" />
    <result column="article_editor" jdbcType="VARCHAR" property="articleEditor" />
    <result column="article_content" jdbcType="VARCHAR" property="articleContent" />
  </resultMap>
  <sql id="Base_Column_List">
    article_id, person_id, article_title, article_editor, article_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from article
    where article_id = #{articleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from article
    where article_id = #{articleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.Article">
    insert into article (article_id, person_id, article_title, 
      article_editor, article_content)
    values (#{articleId,jdbcType=INTEGER}, #{personId,jdbcType=INTEGER}, #{articleTitle,jdbcType=VARCHAR}, 
      #{articleEditor,jdbcType=VARCHAR}, #{articleContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.Article">
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        article_id,
      </if>
      <if test="personId != null">
        person_id,
      </if>
      <if test="articleTitle != null">
        article_title,
      </if>
      <if test="articleEditor != null">
        article_editor,
      </if>
      <if test="articleContent != null">
        article_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="personId != null">
        #{personId,jdbcType=INTEGER},
      </if>
      <if test="articleTitle != null">
        #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleEditor != null">
        #{articleEditor,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null">
        #{articleContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.Article">
    update article
    <set>
      <if test="personId != null">
        person_id = #{personId,jdbcType=INTEGER},
      </if>
      <if test="articleTitle != null">
        article_title = #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleEditor != null">
        article_editor = #{articleEditor,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null">
        article_content = #{articleContent,jdbcType=VARCHAR},
      </if>
    </set>
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.Article">
    update article
    set person_id = #{personId,jdbcType=INTEGER},
      article_title = #{articleTitle,jdbcType=VARCHAR},
      article_editor = #{articleEditor,jdbcType=VARCHAR},
      article_content = #{articleContent,jdbcType=VARCHAR}
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Article">
    <id column="article_id" jdbcType="INTEGER" property="articleId" />
    <result column="person_id" jdbcType="INTEGER" property="personId" />
    <result column="article_title" jdbcType="VARCHAR" property="articleTitle" />
    <result column="article_editor" jdbcType="VARCHAR" property="articleEditor" />
    <result column="article_content" jdbcType="VARCHAR" property="articleContent" />
  </resultMap>
  <sql id="Base_Column_List">
    article_id, person_id, article_title, article_editor, article_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from article
    where article_id = #{articleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from article
    where article_id = #{articleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.Article">
    insert into article (article_id, person_id, article_title, 
      article_editor, article_content)
    values (#{articleId,jdbcType=INTEGER}, #{personId,jdbcType=INTEGER}, #{articleTitle,jdbcType=VARCHAR}, 
      #{articleEditor,jdbcType=VARCHAR}, #{articleContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.Article">
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        article_id,
      </if>
      <if test="personId != null">
        person_id,
      </if>
      <if test="articleTitle != null">
        article_title,
      </if>
      <if test="articleEditor != null">
        article_editor,
      </if>
      <if test="articleContent != null">
        article_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="personId != null">
        #{personId,jdbcType=INTEGER},
      </if>
      <if test="articleTitle != null">
        #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleEditor != null">
        #{articleEditor,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null">
        #{articleContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.Article">
    update article
    <set>
      <if test="personId != null">
        person_id = #{personId,jdbcType=INTEGER},
      </if>
      <if test="articleTitle != null">
        article_title = #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleEditor != null">
        article_editor = #{articleEditor,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null">
        article_content = #{articleContent,jdbcType=VARCHAR},
      </if>
    </set>
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.Article">
    update article
    set person_id = #{personId,jdbcType=INTEGER},
      article_title = #{articleTitle,jdbcType=VARCHAR},
      article_editor = #{articleEditor,jdbcType=VARCHAR},
      article_content = #{articleContent,jdbcType=VARCHAR}
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
</mapper>